.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-orange);
    padding-top: var(--spacing-xxs);
    padding-bottom: var(--spacing-xss);
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);

    h1{
        color: white;
    }

    img{
        height: 50px;
        width: 65px;
    }

    .header-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;

        &:hover{
            cursor: pointer;
        }
    }
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100px;

    img{
        width: 48px;
        height: 48px;
        
        &:hover{
            cursor: pointer;
        }
    }

    .icon-flag{
        border-radius: 50%;
        border: 3px solid white;
        width: 25px;
        height: 25px;

        &:hover{
            cursor: pointer;
        }
    }
}