.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-orange);
    padding-top: var(--spacing-xxs);
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);

    h1{
        color: white;
        font-size: var(--font-size-h3);
    }

    img{
        height: 30px;
        width: 45px;
    }

    .header-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 165px;

        &:hover{
            cursor: pointer;
        }
    }

    span{
        color: white;
        font-weight: bold;       
    }

    .customer-address{
        border-bottom: 1px solid white;
    }
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 75px;

    img{
        width: 32px;
        height: 32px;
        
        &:hover{
            cursor: pointer;
        }
    }

    .icon-flag{
        border-radius: 50%;
        border: 3px solid white;
        width: 20px;
        height: 20px;

        &:hover{
            cursor: pointer;
        }
    }
}