<div class="food-menu-list">
    <!--Problem: Duplicates between favorite items and the items of other food categories-->
    <!-- <div class="food-menu-favorite">
        <div id="favorite" class="food-menu-list-header-section">Beliebte Gerichte</div>
        <div (click)="addFavoriteToCart(i)" class="food-menu-list-section" *ngFor="let foodItem of foodMenuFavorite; let i = index">
            <div class="food-menu-list-info">
                <span><strong>{{ foodItem.name }}</strong></span><br>
                <p class="food-menu-list-info-text">{{ foodItem.text }}</p>
                <p class="food-menu-list-info-price"><strong>{{ foodItem.price.toFixed(2) }} €</strong></p>
            </div>
            <button><img src="../assets/img/icons/add_black.svg"></button>
        </div>
    </div> -->


    
    <div class="food-menu-favorite">
        <div class="food-menu-header">
            <img class="food-menu-img" src="../assets/img/food-menu/vorspeise.jpg">
            <div id="apetizer" class="food-menu-list-header-section">Vorspeisen</div>
        </div>
        <div (click)="addApetizerToCart(i)" class="food-menu-list-section" *ngFor="let foodItem of foodMenuApetizer; let i = index">
            <div class="food-menu-list-info">
                <span><strong>{{ foodItem.name }}</strong></span><br>
                <p class="food-menu-list-info-text">{{ foodItem.text }}</p>
                <p class="food-menu-list-info-price"><strong>{{ foodItem.price.toFixed(2) }} €</strong></p>
            </div>
            <button><img src="../assets/img/icons/add_black.svg"></button>
        </div>
    </div>

    <div class="food-menu-favorite">
        <div class="food-menu-header">
            <img class="food-menu-img" src="../assets/img/food-menu/classic-burger.jpg">
            <div id="classicBurger" class="food-menu-list-header-section">Classic Burger</div>
        </div>
        <div (click)="addClassicburgerToCart(i)" class="food-menu-list-section" *ngFor="let foodItem of foodMenuClassicburger; let i = index">
            <div class="food-menu-list-info">
                <span><strong>{{ foodItem.name }}</strong></span><br>
                <p class="food-menu-list-info-text">{{ foodItem.text }}</p>
                <p class="food-menu-list-info-price"><strong>{{ foodItem.price.toFixed(2) }} €</strong></p>
            </div>
            <button><img src="../assets/img/icons/add_black.svg"></button>
        </div>
    </div>

    <div class="food-menu-favorite">
        <div class="food-menu-header">
            <img class="food-menu-img" src="../assets/img/food-menu/gourmet-burger.jpg">
            <div id="gourmetBurger" class="food-menu-list-header-section">Gourmet Burger</div>
        </div>
        <div (click)="addGourmetburgerToCart(i)" class="food-menu-list-section" *ngFor="let foodItem of foodMenuGourmetburger; let i = index">
            <div class="food-menu-list-info">
                <span><strong>{{ foodItem.name }}</strong></span><br>
                <p class="food-menu-list-info-text">{{ foodItem.text }}</p>
                <p class="food-menu-list-info-price"><strong>{{ foodItem.price.toFixed(2) }} €</strong></p>
            </div>
            <button><img src="../assets/img/icons/add_black.svg"></button>
        </div>
    </div>

    <div class="food-menu-favorite">
        <div class="food-menu-header">
            <img class="food-menu-img" src="../assets/img/food-menu/beilage.jpg">
            <div id="sideDishes" class="food-menu-list-header-section">Beilage</div>
        </div>
        <div (click)="addSidedishesToCart(i)" class="food-menu-list-section" *ngFor="let foodItem of foodMenuSidedish; let i = index">
            <div class="food-menu-list-info">
                <span><strong>{{ foodItem.name }}</strong></span><br>
                <p class="food-menu-list-info-text">{{ foodItem.text }}</p>
                <p class="food-menu-list-info-price"><strong>{{ foodItem.price.toFixed(2) }} €</strong></p>
            </div>
            <button><img src="../assets/img/icons/add_black.svg"></button>
        </div>
    </div>

    <div class="food-menu-favorite">
        <div class="food-menu-header">
            <img class="food-menu-img" src="../assets/img/food-menu/dessert.jpg">
            <div id="dessert" class="food-menu-list-header-section">Dessert</div>
        </div>
        <div (click)="addDessertToCart(i)" class="food-menu-list-section" *ngFor="let foodItem of foodMenuDessert; let i = index">
            <div class="food-menu-list-info">
                <span><strong>{{ foodItem.name }}</strong></span><br>
                <p class="food-menu-list-info-text">{{ foodItem.text }}</p>
                <p class="food-menu-list-info-price"><strong>{{ foodItem.price.toFixed(2) }} €</strong></p>
            </div>
            <button><img src="../assets/img/icons/add_black.svg"></button>
        </div>
    </div>
</div>


<!--Optimization: Maybe there is better way to retrieve data from one array -> Problem: Render the section imgs! -->