<div class="food-menu">
    <div class="food-menu-header">
        <img class="food-menu-background" src="../assets/img/background_img.jpg">
        <img class="food-menu-logo" src="../assets/img/burger_logo.jpg">
    </div>

    <div class="food-menu-data">
        <div class="food-menu-data-container">
            <div>
                <h3>Burger Home</h3>

                <div class="food-menu-grade-overview">
                    <div class="food-menu-grade">
                        <img *ngFor="let grade of grades" src="../assets/img/{{ grade }}">
                    </div>
                    <div>
                        <a href="#">( 3.4k Bewertungen )</a>
                    </div>
                </div>
            </div>

            <div class="food-menu-data-right">
                <button class="button-info">
                    <img src="../assets/img/info_black.svg">
                </button>
                <button (click)="changeIntoFavorite()" class="button-favorite">
                    <img id="button-favorite-unset" src="../assets/img/star_border_black.svg">
                    <img id="button-favorite-set" class="d-none" src="../assets/img/star_black.svg">
                </button>
            </div>
        </div>

        <div class="food-menu-conditions">
            <div class="food-menu-single-condition" *ngFor="let condition of conditions">
                <img src="../assets/img/{{ condition.logo }}">
                <span>{{ condition.value }}</span>
            </div>
        </div>

        <p class="food-menu-text">Bei diesem Restaurant kannst du Stempel sammeln. Stelle beim Bestellabschluss bitte
            sicher, dass du dich für
            unseren Newsletter angemeldet hast, um deine Stempel per E-Mail zu erhalten.</p>
    </div>

    <div class="food-menu-list">
        <div class="food-menu-list-navbar">
            <div class="start-mode" id="start-mode">
                <img id="search-icon" (click)="openSearchMode()" src="../assets/img/search_black.svg">
                <a id="anker1" href="#">Vorspeise</a>
                <a id="anker2" href="#">Klassik Burger</a>
                <a id="anker3" href="#">Gourmet Burger</a>
                <a id="anker4" href="#">Beilage</a>
                <a id="anker5" href="#">Dessert</a>
            </div>

            <div id="search-mode" class="search-mode d-none">
                <img src="../assets/img/search_black.svg">
                <input id="search-menu" placeholder="Gerichte durchstöbern...">
                <img (click)="closeSearchMode()" src="../assets/img/close_black.svg">
            </div>
        </div>
        
        <div class="food-menu-list-items">
            Liste der Gerichte
        </div>
    </div>
</div>