.food-menu-header {
    position: relative;

    .food-menu-background {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }

    .food-menu-logo {
        position: absolute;
        width: 125px;
        height: 125px;
        object-fit: contain;
        bottom: -60px;
        left: 40%;
        border-radius: 50%;
        border: 0.5px solid lightgrey;
    }
}

.food-menu-data {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
}

.food-menu-data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-menu-data-right {
    .button-info {
        background-color: white;
        border: 0.5px solid var(--color-black);
        min-width: 50px;
        height: 50px;
        margin-right: 8px;

        &:hover {
            cursor: pointer;
            border-color: var(--color-primary);
            
        }
    }

    .button-favorite {
        background-color: white;
        border: 0.5px solid var(--color-black);
        min-width: 50px;
        height: 50px;

        &:hover {
            cursor: pointer;
            border-color: var(--color-orange);
        }
    }
}

.food-menu-grade-overview {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-xss);

    .food-menu-grade {
        display: flex;
        margin-right: 4px;
    }

    a {
        text-decoration: none;
        color: var(--color-black);
        font-size: var(--spacing-xs);

        &:hover {
            text-decoration: underline;

        }
    }
}

.food-menu-conditions {
    display: flex;
    margin-bottom: var(--spacing-xss);

    .food-menu-single-condition {
        display: flex;
        align-items: center;
        min-width: 150px;
    }

    img {
        margin-right: var(--spacing-xss);
    }

    span {
        font-size: 12px;
    }
}

.food-menu-text {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: var(--spacing-xss);
}


//Food list section includes all menus of a certain locality
.food-menu-navbar {

    .food-menu-navbar-container {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-whitesmoke);
        padding-left: var(--spacing-xl);
        padding-right: var(--spacing-xl);
    }

    a {
        margin-right: var(--spacing-xss);
        margin-left: var(--spacing-xss);
        text-decoration: none;
        font-size: 14px;
        color: var(--color-black);
        min-width: 105px;
        text-align: center;
    }

    img {
        width: 25px;
        height: 25px;

        &:hover {
            cursor: pointer;
        }
    }

    .start-mode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        overflow-x: auto;
    }

    .search-mode {
        justify-content: space-between;
        align-items: center;
        height: 45px;
        width: 80%;
        background-color: white;
        border: 2px solid var(--color-primary);
        padding-left: var(--spacing-xss);
        padding-right: var(--spacing-xss);

        input {
            width: 40vw;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 12px;
        }
    }
}